@font-face {
  font-family: "Norse-Bold";
  src: url("fonts/Norse-Bold.otf");
}

container {
	display: flex;
}



#bg {
	width: 500px;
	height: 1000px;
	object-fit: cover;
}

.logo_bg {
	display: flex;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 200px;
	width: 500px;
	height: 120px;
	justify-content: center;
	padding: 20px 0px;
}

.logo {
	align-content: center;
	color: white;
	font-size: 75px;
	font-family: "Norse-Bold";
}

#credit {
	position: relative;
	bottom: 50px;
	color: white;
	text-align: center;
	opacity: 70%;
}